/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #9abcde;
   color: #077823;
 }
 table.post-table {
   border: 1px solid black;
 }

th {
  background-color:#bbdebb;
}
/* td {
  background-color:#bbdebb;
} */
table#footer-nav-table {
  background-color: #333333;
  color: #dddddd;
  border-radius: 3px;
  position: fixed;
  bottom: 15px;
}

div.replies-div {
  border: 1px solid black;
  height: 110px;
  width: 500px;
  overflow: scroll;
  word-wrap: break-word;
  resize: both;
  max-width: 90%;
  padding-left: 7px;
}

table.post-table th {
  background-color: #7799bb;
  font-size: 0.7em;
}

table.post-table th span {
  font-size: 1.4em;
  color: #bbccff;
}

div.reply-div {
  min-height: 30px;
  background-color: #89bda9;
  border: 1px solid black;
  word-wrap: break-word;
  max-width: 90%;
  padding-left: 7px;
}

div.reply-div p {
  font-size: 0.7em;
}

div.reply-div span {
  background-color: #112365;
  padding: 3px;
  border-radius: 4px;
  font-size: 0.8em;
  float: right;
}

div.reply-body-div {
  background-color: #defdef;
  max-width: 80%;
  margin-left: 13px;
  padding: 3px;
  border-radius: 3px;
}
